.body-login{
  background: #EDEAF3;
}

.section-login{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.box-login{
  position: relative;
}

.container-login{
  position: relative;
  width: 400px;
  min-height: 400px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: #fff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30%;
}

.form-login{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-bottom: 5px;
}

.form-login h2{
  position: relative;
  color: #F181B3;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form-login h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 75px;
  height: 4px;
  background: #F181B3;
}

.form-login h4{
  color: #F181B3;
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
}

.form-login .inputBox{
  width: 100%;
  color: #F181B3;
}

.form-login .inputBox input{
  width: 100%;
  border: solid 1px #F181B3;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #F181B3;
  
}

.form-login .inputBox input::placeholder{
  color: #F181B3;
}

.form-login .inputBox input[type="submit"]{
  background-color: #9E97C9;
  border-color: #9E97C9;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 600;
  transition: background-color ease 0.25s , color ease 0.25s , border-radius ease 0.25s;
}

/* .form-login .inputBox input[type="password"]::-ms-reveal{
  filter: invert(100%);
} */

.form-login .inputBox input[type="submit"]:hover{
  background-color: #F181B3;
  border-color: #F181B3;
  color: #fff;
}

.forget{
  margin-top: 10px;
  margin-bottom: 5px;
  color: #F181B3;
  text-align: center;
  font-size: 14px;
}

.forget a {
  color: #9E97C9;
  font-weight: 600;
  text-decoration: none;
  transition: color  0.25s;
}

.forget a:hover {
  color: #F181B3;
}

/* register */

.body-register{
  background: #EDEAF3;
}

.section-register{
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.p-mb{
  margin-bottom: 60px;
}

.box-register{
  position: relative;
  width: 1200px;
  height: 590px;
  background: #fff;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container-register {
  background: white;
  border-radius: 30px;
  height: 400px;
}

.h-100{
  height: 100%;
}

.form-register{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-bottom: 5px;
}

.box-register h2{
  position: relative;
  color: #F181B3;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.box-register h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 110px;
  height: 4px;
  background: #F181B3;
}

.form-register h4{
  color: #fff;
  margin-top: 10px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 18px;
}

.box-register .inputBox{
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-register .inputBox input{
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow:inset 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-register .inputBox input::placeholder{
  color: #666;
}

.box-register .inputBox input[type="submit"]{
  background-color: #9E97C9;
  border: solid 2px #9E97C9;
  outline: none;
  color: #fff;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 600;
  transition: background-color ease 0.25s , color ease 0.25s , border-radius ease 0.25s;
}

.form-register .inputBox input[type="password"]::-ms-reveal{
  filter: invert(100%);
}

.box-register .inputBox input[type="submit"]:hover{
  background-color: #F181B3;
  color: #fff;
  border-color: #F181B3;
}

/* 
@media screen and (max-width: 450px) {
  .container-login{
    width: 100%;
  }

  .container-register{
    width: 100%;
  }

  .section-login{
    min-height: 0px;
  }

  .section-register{
    min-height: 0px;
  }

  .container-login{
    margin-top: 28%;
  }

  .container-register{
    margin-top: 15%;
  }
  
} */

@media screen and (max-width: 900px) {
  .section-register{
    margin-top: 100px;
  }

  .body-register{
    height: 830px;
  }

  .box-register{
    height: 690px;
    margin: 20px;
  }

  .container-register{
    height: 510px;
  }

  .container-login{
    width: 360px;
  }
}