.payment{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-top-title{
  color: #58585A;
  font-size: 35px;
}

.mt-120{
  margin-top: 140px;
  text-align: center;
  margin-bottom: 20px;
}

.payment-container{
  width: 520px;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.pay-before{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border-bg-purple{
  padding: 7px;
    border-radius: 10px;
    box-shadow: #c3b8df 0px 0px 0px 1px;
    background: #FAF8FF;
}

.pay-before-text{
  color: #F5639A;
  font-size: 16px;
  font-weight: 700;
}

.pay-before-date{
  color: #58585A;
  font-size: 16px;
  font-weight: 700;
}

.payment-info{
  margin-top: 20px;
  position: relative;
}

.absolute-pay-info{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}

.payment-info .payment-bg{
  width: 480px;
  height: 260px;
}

.va-pay .atm{
  width: 80px;
}

.title-atm{
  font-size: 14px;
  margin-top: 4px;
  color: #58585A;
  font-weight: 600;
  letter-spacing: 1px;
}

.price-payment{
  font-size: 16px;
  color: #58585A;
  font-weight: 600;
  letter-spacing: 1px;
}

.hr-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.hr-payment{
  border-top: 2px dashed #58585A;
  width: 100%;
}

.order-id-title{
  font-size: 14px;
  font-weight: 700;
  color: #B2B2B2;
  margin-top: 20px;
}

.order-id-pay{
  font-size: 16px;
  font-weight: 700;
  color: #58585A;
}

.btn-copy{
  margin-top: auto;
  background: #958EC1;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-status{
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
  background: #958EC1;
  border: none;
  height: 40px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.bottom-title{
  font-weight: 700;
  color: #58585A;
}

.menu{
  width: 100%;
  margin-top: 10px;
}

.menu .item {
  position: relative;
  cursor: pointer;
  color: #58585A;
}

.menu .item a {
  color: #58585A;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  justify-content: space-between;
  line-height: 20px;
}

.menu .item .sub-menu {
  background: #fff;
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}

.side-bar .menu .item a {
  color: #58585A;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  line-height: 60px;
}

.rotate-chevron {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .mb-5-i{
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 500px) {
  .payment-container{
    width: 360px;
  }

  .pay-before-text{
    text-align: left;
    font-size: 12px;
  }

  .pay-before-date{
    text-align: right;
    font-size: 12px;
  }

  .payment-info .payment-bg{
    width: 320px;
    height: 220px;
  }

  .menu .item a{
    line-height: 20px;
    font-size: 13px;
  }

  .order-id-title{
    margin-top: 10px;
  }
  
  .cart-top-title{
    font-size: 20px;
  }

  .hr-center{
    margin-top: 0px;
  }
}

@media screen and (max-width: 375px) {
  .payment-container{
    width: 320px;
  }

  .pay-before-text{
    text-align: left;
    font-size: 10px;
  }

  .pay-before-date{
    text-align: right;
    font-size: 10px;
  }

  .payment-info .payment-bg{
    width: 280px;
    height: 220px;
  }

  .menu .item a{
    line-height: 20px;
    font-size: 10px;
  }

  .order-id-title{
    margin-top: 10px;
  }

  .title-atm{
    font-size: 9px;
  }

  .price-payment{
    font-size: 10px;
  }

  .order-id-pay{
    font-size: 12px;
  }

  .btn-copy{
    font-size: 12px;
  }

  .check-status{
    font-size: 14px;
  }

}