.profile{
  margin-top: 120px;
  padding: 20px;
}

.link-sidebar-profile{
  text-decoration: none;
  color: #58585A;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 4px;
  display: flex;
  align-items: baseline;
}

.link-sidebar-profile:hover{
  color: #958EC1;
}

.active-lsp{
  color: #958EC1;
}

.hr-profile{
  border-top: solid 1px #958EC1;
  opacity: 1;
}

.profile-content-container{
  width: 64%;
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 20px;
}

.top-title-pcc{
  font-size: 18px;
  font-weight: 700;
  color: #58585A;
  margin-top: 10px;
  margin-left: 10px;
}

.second-title-pcc{
  font-size: 14px;
  font-weight: 400;
  color: #58585A;
  margin-top: 4px;
  margin-left: 10px;
}

.profile-container{
  display: flex;
  justify-content: center;
}

.sidebar-profile{
  width: 20%;
}

.sidebar-profile-box{
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 30px;
  padding: 20px;
}

.content-profile{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;
}

.content-profile img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.mr-10{
  margin-right: 10px;
}

.input-update-profile{
  outline: none;
  border-bottom: solid 1px #958EC1;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #58585A;
  font-weight: 500;
  padding-bottom: 6px;
  width: 400px;
}

.flex-profile{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-update{
  border-radius: 30px;
  width: 90px;
  height: 30px;
  background: #958EC1;
  color: #fff;
  font-weight: 600;
  border: solid 2px #958EC1;
}

@media screen and (max-width: 1115px) {
  .profile-container{
    justify-content: space-around;
  }

  .profile-content-container{
    margin-left: 0px;
  }

  .sidebar-profile{
    width: 30%;
  }

  .input-update-profile{
    width: 200px;
  }
}

@media screen and (max-width: 675px) {
  .content-profile{
    display: block;
    padding: 20px 0px;
  }

  .content-profile img{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .input-data-profile{
    margin-top: 20px;
  }

  .link-sidebar-profile{
    font-size: 14px;
  }

  .input-update-profile{
    width: 100%;
  }
}

@media screen and (max-width: 625px) {
  .profile-container{
    display: block;
    margin-bottom: 120px;
  }

  .sidebar-profile{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }

  .profile{
    padding: 0px;
  }

  .sidebar-profile-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px 30px 0px 0px;
    padding: 5px;
  }

  .link-sidebar-profile{
    font-size: 12px;
  }

  .active-lsp{
    border-bottom: none;
  }

  .mr-10{
    margin-right: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .mb-4{
    margin-bottom: 0px !important;
  }

  .profile-content-container{
    width: 96%;
    margin: auto;
  }

  .link-sidebar-profile{
    display: block;
  }

}